<html>
<head>
<title><%= title %></title>
</head>
<body>
Welcome <%= user %>

cloudinary.image("sample", {format: "png", width: 100, height: 100, crop: "fill"})

<!--<img src="cloudinary.image("raspberry_pi_camera.jpg")" alt="Hej">-->
</body>
</html>